.codebox-container {
  display: flex;
  flex: 1;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;

  header {
    margin-top: 3rem;
    h1 {
      text-align: center;
      font-size: 3.2em;
      color: #f0f0f0;
      @media screen and (max-width: 800px) {
        font-size: 2.4em;
      }
    }
    h5 {
      text-align: center;
      font-size: 1.5em;
      color: #fc5185;
      @media screen and (max-width: 800px) {
        font-size: 1.3em;
        margin-bottom: 5%;
      }
    }
  }

  main {
    display: flex;
    height: 90%;
    flex-direction: column;
    margin-top: 1%;
    // justify-content: center;
    align-items: center;
  }

  .controls {
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    background-color: #2ecc71;
    height: 6%;
    width: 90%;
    overflow-y: scroll;
  }

  .control-dropdown {
    display: flex;
    align-items: center;
    flex: 1;
    background-color: #13866f;
    padding: 0 1% 0 1%;
    select {
      width: 100%;
      outline-color: #fc5185;
      appearance: none;
      background-color: #13866f;
      color: #fff;
      font-size: inherit;
      padding: 0.5em;
      border: none;
      transition: 0.2s ease;
      &:hover {
        background-color: #145f50;
      }
    }
  }

  .control-icon {
    cursor: pointer;
    color: #fff;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    background-color: #2980b9;
    transition: 0.2s ease;
    &:hover {
      background-color: #1574b4;
    }
  }

  // Overriding the main codemirror css
  .CodeMirror {
    height: 500px;
  }

  .code-editor {
    width: 90%;
    font-size: 1.3em;
  }
}
