.codebox-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100%;

  header {
    margin-top: 3rem;
    h1 {
      text-align: center;
      font-size: 3em;
      color: #f0f0f0;
    }
  }

  main {
    display: flex;
    height: 90%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .controls {
    background-color: #2ecc71;
    height: 5%;
    width: 90%;
  }

  .code-editor {
    width: 90%;
    font-size: 1.3em;
  }
}
