.login-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;

  

  main {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  .animation {
    width: 30%;
    @media screen and (max-width: 800px) {
      width: 70%;
    }
  }

  .btn-container {
    margin: auto;
    width: 20%;
    @media screen and (max-width: 800px) {
      width: 70%;
    }
  }

  form {
    display: flex;
    flex-direction: column;
    width: 100%;

    input {
      flex: 1;
      border: none;
      border-radius: 5px;
      padding: 5%;
      font-size: 1.4em;
      color: #f0f0f0;
      outline-color: #fc5185;
      background-color: #fc5185;
      transition: 0.2s ease;
      // margin-top: 10%;
      &:hover {
        background-color: #ff4079;
        cursor: pointer;
      }
      &:active {
        background-color: #fd709a;
      }
    }
  }
}
